<section id="about">
  <a href="{{ site.baseurl }}/"><img class="portrait" src="/assets/devil-horns.jpg" alt="Adam with devil horns" /></a>
  <h1>I’m <a href="{{ site.baseurl }}/">Adam Darowski</a>.</h1>
  <h2>A Little About Me</h2>
  <h3>I’m a husband and daddy.</h3>
  <p>I’m married to my wonderful wife Erin and have <a href="https://instagram.com/p/tBx3btkV2x/">three amazing children</a> who fill my days with joy and panic. We live in Peterborough, New Hampshire with our dog <a href="https://instagram.com/p/xuodevEV9L/">Percy</a> and our cat <a href="https://instagram.com/p/snHuFdEV2u/">Hope</a>.</p>
  <h3>I’m a product designer.</h3>
  <p>When I’m not being a dad, I design and build user interfaces for <a href="http://dribbble.com">Dribbble</a>, a community where designers share what they’re working on. I was previously previously a part of the excellent product teams at <a href="http://hubspot.com">HubSpot, <a href="http://patientslikeme.com">PatientsLikeMe</a>, and <a href="http://batchbook.com">Batchbook</a>.<p>
  <h3>I’m a baseball saberhistorian.</h3>
  <p>When the kids are asleep and the work is done, I like to write about baseball history from a statistical perspective (while designing and building tools to present my findings). My pet project is <a href="http://hallofstats.com">The Hall of Stats</a>, an alternate Hall of Fame populated by a mathematical formula.</p>
  <h3>I’m recording an album.</h3>
  <p>After taking a decade off from writing and recording music, I released a 3-song EP (called <a href="/existential-crisis-songs">“Existential Crisis Songs”</a>) in January 2015. My goal is to record a full-length album. You can check out the latest tracks at <a href="http://adarowski.bandcamp.com">BandCamp</a>.</p>
  <p class="social">You can find me on <a class="twitter" href="http://twitter.com/adarowski">Twitter</a>, <a class="dribbble" href="http://dribbble.com/adarowski">Dribbble</a>, <a class="github" href="http://github.com/adarowski">GitHub</a>, <a class="linkedin" href="http://www.linkedin.com/in/adamdarowski">LinkedIn</a>, <a class="lastfm" href="http://last.fm/user/adarowski">Last.fm</a>, <a class="spotify" href="http://open.spotify.com/user/123427584">Spotify</a>, and <a class="bandcamp" href="http://adarowski.bandcamp.com">BandCamp</a>.</p>
</section>
