<section id="articles">
  <h2>
    Some Things I’ve Written Here
    <a class="rss-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a>
  </h2>
  <ul class="article-list">
    {% for post in site.posts %}
      <li>
        <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        <span>{{ post.date | date: "%B %-d, %Y" }}</span>
      </li>
    {% endfor %}
  </ul>

  <h2>
    Some Things I’ve Written Elsewhere
  </h2>
  <ul class="article-list">
    <li>
      <a href="http://product.hubspot.com/blog/meet-the-movers-and-makers-adam-darowski-senior-design-engineer">Meet the Movers and Makers: Adam Darowski, Senior Design Engineer</a>
      <span>(HubSpot Product Blog) June 12, 2015</span>
    </li>
    <li>
      <a href="http://product.hubspot.com/blog/lessons-from-designing-a-reporting-tool-with-context-social-reports">Key Learnings From Designing Social Reports: A Reporting Tool with Context</a>
      <span>(HubSpot Product Blog) March 10, 2015</span>
    </li>
  </ul>

</section>